@import url('https://fonts.googleapis.com/css?family=Roboto:500|Saira+Condensed:500');

/* ------------ */
/* --- CORE --- */
html, body {
	display: grid;
	grid-template-rows: 90px 1fr;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background: rgb(37,38,39);
	color: white;
	font-family: 'Roboto', sans-serif;
}

#overlay {
	background-color: rgba(31,32,33,0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}


/* ------------ */
/* --- MENU --- */
#top-menu {
	position: fixed;
	width: 100%;
	height: 90px;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-row: 1;
	background: #181818;
	box-shadow: 1px 0 4px 0 rgba(18,18,18,0.75);
	-webkit-box-shadow: 1px 0 4px 0 rgba(18,18,18,0.75);
	-moz-box-shadow: 1px 0 4px 0 rgba(18,18,18,0.75);
	z-index: 3;
}
#top-menu #logo {
	padding: 5px;
}

#navigation {
	padding: 0;
	list-style-type: none;
	text-align: left;
	margin-top: 30px;
	
} 
#navigation	li {
	display: inline;
	margin-left: 40px;
}

#button-wrap {
	display: none;
}

#social-wrap {
	display: none;
	margin-top: 35px;
	text-align: center;
}

#social {
	position: relative;
	padding: 0;
	list-style-type: none;
}



/* --------------- */
/* --- CONTENT --- */
#content-wrap {
	width: 100%;
	display: grid;
	grid-row: 2;
	z-index: 2;
	text-align: center;
}


/* MEDIA LOGO & DROPDOWN */
@media screen and (max-width: 500px) {
	#top-menu {
		grid-template-columns: 80% 20%;
	}
	
	#navigation {
		display: none;
	}

	#button-wrap {
		display: block;
		text-align: center;
		margin-top: 20px;
	}
}

/* MEDIA MENU ONLY */
@media screen and (min-width: 501px) and (max-width: 680px) {
	#top-menu {
		grid-template-columns: 30% 60% 10%;
	}

	#navigation {
		text-align: center;
	} 
}


/* MEDIA MENU & SOCIAL */
@media screen and (min-width: 681px) and (max-width: 960px) {
	#top-menu {
		grid-template-columns: 28% 44% 8% 20%;
	}
	
	#navigation {
		text-align: center;
	} 

	#social-wrap {
		display: inherit;
		grid-column: 4;
	}
	
	#social li {
		display: inline;
		margin: 0 10px;
	}
}

/* MEDIA DESKTOP SIDE MENU*/
@media screen and (min-width: 961px) {
	#top-menu {
		width: 90px;
		height: 100%;
		grid-template-columns: 100%;
	}
	#top-menu #logo {
		grid-row: 1;
		padding: 15px 5px 5px 120px;
	}

	#navigation {
		grid-row: 2;
		padding: 35% 0 0 0;
		list-style-type: none;
		text-align: center;
	} 
	#navigation	li {
		display: block;
		padding-bottom: 40px; 
		text-transform: uppercase;
		font-size: 14px;
		margin: 0;
	}
	
	#social-wrap {
		display: block;
		grid-row: 3;
	}
	
	#social {
		position: absolute;
		bottom: 10px;
		margin-left: 36px;
	}
	
	#social li {
		padding: 0;
		margin-bottom: 15px;
	}

	#social .linkedin {
		margin-left: 1px;
	}
}

/* MEDIA DESKTOP HIDE SOCIAL */ 
@media screen and (max-height: 550px) and (min-width: 961px) {
	#social-wrap {
		display: none;
	}
}